.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mrg-20 {
  margin-right: 20px;
}

.fix {
  overflow: hidden;
}

.mrg15 {
  margin: 15px;
}

.pad0 {
  padding: 0;
}

.less-border-top {
  border-top: 0;
}

.less-border-bottom {
  border-bottom: 0;
}

.less-border-left {
  border-left: 0;
}

.less-border-right {
  border-right: 0;
}

p.blank-space {
  display: block;
  height: 5px;
}

.less-mrg-left {
  margin-left: 0;
}

.less-pad-left {
  padding-left: 0;
}

.less-mrg-right {
  margin-right: 0;
}

.less-pad-right {
  padding-right: 0;
}

.m-r-10 {
  margin-right: 10px;
}