@media (max-width: 480px) {
  .header-top {
    text-align: left;
  }

  .icon-box-wrapper {
    text-align: left;

    .icon-box {
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
      display: block;
    }
  }

  .left-icon-wrapper {
    flex-wrap: wrap;

    .icon-box {
      width: 50%;

      a {
        text-align: left;
        padding-left: 10px;
        padding-right: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .logo {
    margin-bottom: 20px;
  }

  .get-more-info img {
    padding: 0 0 10px 0;
  }

  .sidebar {
    margin-left: -5px;
  }

  .tabs-widget ul.nav li a {
    padding: 8px;
  }

  .article-title {
    margin: 10px 0 20px 0;
  }

  .blog-item {
    padding: 20px 0 40px 0;
  }

  .page-number > p {
    margin-top: 20;
  }

  .sidebar.box-wrapper {
    margin-left: -5px;
  }

  .page-content.box-wrapper {
    margin-left: -5px;
    margin-top: 20px;
  }

  .less-pad-left {
    padding-left: 20px;
  }

  .add-pad-right {
    padding-right: 10px;
  }

  #hero-slider-1 .item img {
    min-width: 100%;
  }

  .hero-showcase {
    justify-content: flex-start;
    flex-flow: column;
    align-items: stretch;
    flex-wrap: nowrap;

    .top-service-box {
      justify-content: flex-start;
      flex-flow: column;
      align-items: stretch;
      flex-wrap: nowrap;

      div {
        width: 100%;
        margin: 0;
        height: auto;

        a {
          position: relative;
          display: block;
        }
      }
    }
  }

  .single-latest {
    margin-bottom: 20px;
    overflow: hidden;
  }

  .footer-widget {
    overflow: visible;
    padding-bottom: 12px;
  }

  .sidebar.box-wrapper.blog-page {
    margin-top: 0;
  }

  .footer-widget div.row {
    width: 100%;
  }

  a#scrollUp {
    display: none !important;
  }

  .xs-mrgleft-15 {
    margin-left: 15px;
  }

  .xs-mrgright-15 {
    margin-right: 15px;
  }

  .pagination > li > {
    a, span {
      padding: 6px 10px;
    }
  }

  .navbar-header {
    width: 100%;
  }

  .text-input {
    float: right;
  }

  .mag-cat-img {
    margin-bottom: 10px;
  }

  .post-thumb {
    width: 100%;
  }

  .left-icon-wrapper {
    flex-wrap: wrap;

    .icon-box {
      width: 50%;

      a {
        font-size: 12px;
        text-align: left;

        i {
          font-size: 12px;
          width: 24px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-top, .icon-box-wrapper {
    text-align: center;
  }

  .tabs-widget ul.nav li a {
    padding: 8px;
  }

  .get-more-info img {
    padding: 0 0 10px 0;
  }

  .article-title {
    margin: 10px 0 20px 0;
  }

  .blog-item {
    padding: 20px 0 40px 0;
  }

  .page-number > p {
    margin-top: 50px;
  }

  .page-content.box-wrapper {
    &.about-page {
      margin-left: 0;
    }

    &.about-left-page {
      margin-left: -5px;
    }
  }

  .sidebar.box-wrapper {
    margin-left: -5px;
  }

  .add-pad-right {
    padding-right: 10px;
  }

  .xs-mrgleft-15 {
    margin-left: 15px;
  }

  .xs-mrgright-15 {
    margin-right: 15px;
  }

  #news-carousel {
    width: 100%;
    margin-top: 5px;

    ul.carousel-inner {
      width: 90%;
    }
  }

  .featured-article-item {
    margin-bottom: 20px;
  }

  .post-thumb {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .left-icon-wrapper .icon-box a {
    font-size: 12px;

    i {
      font-size: 12px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }

  .navbar-header {
    width: 55px;
  }

  .head-search .form-control {
    &:active, &:focus {
      width: 162px;
    }
  }

  .tabs-widget ul.nav li a {
    padding: 8px;
  }

  .get-more-info img {
    padding: 0 0 10px 10px;
  }

  .article-title {
    margin: 10px 0 20px 0;
  }

  .blog-item {
    padding: 20px 5px 40px 5px;
  }

  .page-number > p {
    margin-top: 50px;
  }

  #hero-slider-1 .item img {
    min-width: 100%;
  }

  .hero-showcase {
    justify-content: flex-start;
    flex-flow: column;
    align-items: stretch;
    flex-wrap: nowrap;

    .top-service-box {
      justify-content: flex-start;
      flex-flow: column;
      align-items: stretch;
      flex-wrap: nowrap;

      div {
        width: 100%;
        margin: 0;
        height: auto;

        a {
          position: relative;
          display: block;
        }
      }
    }
  }

  .sm-mrgleft-15 {
    margin-left: 15px;
  }

  .sm-mrgright-15 {
    margin-right: 15px;
  }

  .add-pad-right {
    padding-right: 15px;
  }

  .mega-dropdown .container {
    width: 720px;
  }

  #news-carousel {
    width: 85%;

    ul.carousel-inner {
      width: 91%;
    }
  }

  .mag-cat-img {
    margin-bottom: 10px;
  }

  a#scrollUp {
    display: none !important;
  }

  .post-thumb {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tabs-widget ul.nav li a {
    padding: 8px 10px;
  }

  .article-title {
    margin: 0 0 20px;
  }

  .blog-item {
    padding: 20px 5px 40px 5px;
  }

  .page-number > p {
    margin-top: 50px;
  }

  .showcase-left {
    width: 100%;
  }

  .hero-showcase .top-service-box div {
    width: 200px;
    height: 165px;

    h2 {
      font-size: 18px;
    }
  }

  .mega-dropdown .container {
    width: 940px;
  }

  #news-carousel {
    width: 89%;

    ul.carousel-inner {
      width: 93%;
    }
  }
}

@media (min-width: 1200px) {
  .tabs-widget ul.nav li a {
    padding: 8px 15px;
  }

  .article-title {
    margin: 0 0 20px;
  }

  .blog-item {
    padding: 20px 5px 40px 5px;
  }

  .page-number > p {
    margin-top: 50px;
  }

  .hero-showcase {
    .showcase-left {
      width: 665px;
    }

    .showcase-right {
      width: 475px;
    }
  }

  .mega-dropdown .container {
    width: 1140px;
  }

  #news-carousel {
    width: 91%;
  }
}