.slider-style-1 {
  overflow: hidden;

  .carousel-caption {
    left: 40px;
    top: 40px;
    text-align: left;
    text-shadow: none;
    color: #34404e;
    padding: 0;
    overflow: hidden;
    width: 50%;

    .slider-small-text {
      font-size: 14px;
      line-height: 1.5em;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .slider-title {
      font-size: 42px;
      line-height: 1;
      font-weight: 500;
      margin: 0 0 10px;
    }
  }

  .carousel-control {
    top: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: block;
    padding: 0;
    color: #313135;
    transform: translateY(-50%);
    border: 0;
    opacity: 1;
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
      background: $theme-color;
      color: #ffffff;
    }

    &.left {
      left: -100px;
    }

    &.right {
      right: -100px;
    }
  }

  &:hover .carousel-control {
    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }

  .carousel-indicators {
    width: auto;
    left: 40px;
    bottom: 10px;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      border: 0;
      opacity: 1;
      background-color: #000000;
      width: 4px;
      height: 4px;
      margin: 2px;

      &.active {
        border: 4px solid #000000;
        opacity: 1;
        width: 2px;
        height: 2px;
        margin: 0;
      }
    }
  }

  &:hover .carousel-control-wrap {
    bottom: 20px;
  }
}

.slider-style-2 {
  .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-caption {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #ffffff;
    margin: 0 20% 0 10%;

    .slider-small-text {
      font-size: 24px;
      line-height: 1.5em;
      font-weight: 300;
      margin-bottom: 10px;
    }

    .slider-title {
      font-size: 60px;
      line-height: 1;
      font-weight: 700;
      margin: 0 0 10px;
    }
  }

  .carousal-control-wrapper {
    width: 55px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: 1px dashed rgba(255, 255, 255, 0.5);
  }

  .carousel-control {
    font-size: 26px;
    width: 55px;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-shadow: none;
    border-radius: 0;
    display: block;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    opacity: 1;
    transition: all .3s ease-in-out;
    position: relative;

    i {
      width: 100%;
    }

    &:hover {
      opacity: 1;
      color: #ffffff;
    }

    &.right {
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (max-width: 600px) {
  .slider-style-2 .carousel-caption {
    .slider-title {
      font-size: 18px;
    }

    .slider-small-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .slider-style-2 .carousel-caption {
    .slider-title {
      font-size: 14px;
    }

    .slider-small-text {
      font-size: 12px;
    }
  }
}