
.contact-form .control-group {
  input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;

    &:focus {
      outline: none;
    }
  }

  padding: 0;
}

.subbtn {
  color: #ffffff;
  background-color: $theme-color;
  border-color: #e43725;
  margin-top: 20px;
  border-radius: 0;

  &:hover {
    color: #ffffff;
    background-color: $theme-color;
    border-color: #b62516;
  }
}

.contact-form .control-group textarea {
  height: 200px;
  width: 100%;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.contact-page-sidebar {
  padding: 20px;
}

.contact-address {
  padding: 20px;
  i {
    color: $theme-color;
    font-size: 1.1rem;
  }
}

.contact-locations {
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  @media (max-width: 968px) {
    flex-direction: column;
    .location {
      margin-bottom: 20px;
    }
  }
  border-top: 1px solid $border-color;
}

.location {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
  .d-flex {
    margin-bottom: 5px;
  }
}