
.faq-inner h2 {
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-transform: capitalize;
}

.faq {
  h2 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: capitalize;
  }

  h3 {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.faq-inner h3 {
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 10px;
}