.header {
  background: $header-bg-color;
  //margin-top: 20px;
  z-index: 1;
  position: relative;
  -webkit-transform: translateZ(0);
  @media all and (max-width: 968px) {
    .logo a {
      display: block;
      text-align: center;
    }
  }
}

.header-top {
  padding: 20px 0;
}

.language {
  span.flag-icon {
    margin-right: 5px;
  }
  .btn-default {
    background-color: transparent !important;
    border-color: darken(white, 10%);
  }
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  > div {
    text-align: right;
    width: 100%;
  }
}

