ul#css_ul {
  float: none;
  padding: 0;

  li {
    border: 1px solid #eeeeee;
    list-style: none outside none;
    margin: 0;
    padding: 10px;

    &:first-child {
      border-bottom: 0 solid;
    }
  }
}

.list-style li, .list-style-circle li {
  padding: 2px 0;
  font-size: 14px;
}

.list-style li i {
  color: #999999;
  margin-right: 5px;
}

.list-style-circle li i {
  color: #999999;
  margin-right: 5px;
  border: 1px solid #999999;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  font-size: 11px;
}