.offcanvas-wrapper .sidebar-nav {
  h2 {
    margin: 0;
    line-height: 55px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 12px;
    color: #ffffff;
  }

  > ul {
    padding: 0;
  }

  li {
    border-bottom: 1px solid #eeeeee;

    a {
      padding: 10px;
      display: block;
      color: #34404e;
      font-weight: 700;
    }

    li {
      border-bottom: 1px dotted #eeeeee;

      a {
        font-size: 12px;
        border-top: 0;
        font-weight: 500;
        color: #555555;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    a:hover {
      color: $theme-color;
    }

    &.active > a {
      color: #ffffff;
      background-color: #181818;

      &:hover, &:focus {
        color: #ffffff;
        background-color: #181818;
      }
    }

    &:first-child {
      border-top: 0;
    }
  }

  > ul ul {
    border-left: 5px solid #dddddd;
    border-top: 1px solid #eeeeee;
  }
}

.sidebar-nav {
  padding-left: 15px;
  margin-bottom: 20px;
  position: relative;
}

.sidebar-header {
  background: $mobile-nav-header-bg-color;
  position: relative;
}

.sidebar-nav {
  .mobile-logo {
    padding: 20px;
  }

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
    text-shadow: none;

    :hover, :focus, :active {
      color: #ffffff;
    }
  }
}
